@import colors
@import prefixes
body
    margin 0px
    font-family arial, sans-serif
    overflow hidden
    #selects
        position absolute
        top 0px
        left 0px
        z-index 2
    svg
        position absolute
        top 0px
        left 0px
        z-index 1
        background #ddd
        .land
            fill white
        .boundary
            fill none
            stroke #333
            stroke-width 0.5px
        .country
            stroke none
            &:hover
                opacity 0.7
    div
        &.squares
            background black
            div
                position absolute
                background black
                &.active
                    border 2px solid
                &.kraj-1
                    background rgba(#f66, 0.7)
                    border-color #f66
                &.kraj-2
                    background rgba(#6f6, 0.7)
                    border-color #6f6
                &.kraj-3
                    background rgba(#66f, 0.7)
                    border-color #66f
                &.kraj-4
                    background rgba(#6ff, 0.7)
                    border-color #6ff
                &.kraj-5
                    background rgba(#ff6, 0.7)
                    border-color #ff6
                &.kraj-6
                    background rgba(#f6f, 0.7)
                    border-color #f6f
                &.kraj-7
                    background rgba(#3c3, 0.7)
                    border-color #3c3
                &.kraj-8
                    background rgba(#c33, 0.7)
                    border-color #c33
                &.kraj-9
                    background rgba(#33c, 0.7)
                    border-color #33c
                &.kraj-10
                    background rgba(#c3c, 0.7)
                    border-color #c3c
                &.kraj-11
                    background rgba(#cc3, 0.7)
                    border-color #cc3
                &.kraj-12
                    background rgba(#090, 0.7)
                    border-color #090
                &.kraj-13
                    background rgba(#900, 0.7)
                    border-color #900
                &.kraj-14
                    background rgba(#009, 0.7)
                    border-color #009
