@import colors
@import prefixes
body
    margin 0px
    font-family arial, sans-serif
    overflow hidden
    svg
        position absolute
        top 0px
        left 0px
        background #ddd
        .land
            fill white
        .boundary
            fill none
            stroke #333
            stroke-width 0.5px
        .country
            stroke none
            &:hover
                opacity 0.7

        .squares
            rect
                fill #ddd
                &.kraj-1
                    fill #f66
                &.kraj-2
                    fill #6f6
                &.kraj-3
                    fill #66f
                &.kraj-4
                    fill #6ff
                &.kraj-5
                    fill #ff6
                &.kraj-6
                    fill #f6f
                &.kraj-7
                    fill #3c3
                &.kraj-8
                    fill #c33
                &.kraj-9
                    fill #33c
                &.kraj-10
                    fill #c3c
                &.kraj-11
                    fill #cc3
                &.kraj-12
                    fill #090
                &.kraj-13
                    fill #900
                &.kraj-14
                    fill #009
